@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Colores primarios (tonos de rojo/terracota para pizzería) */
  --primary-light: #d9874045;
  --primary-medium: #D98740;
  --primary-dark: #bb5f0e;

  /* Colores secundarios (tonos de verde/aceituna) */
  --secondary-light: rgb(51, 51, 51);
  --secondary-medium: #1f1f1f;
  --secondary-dark: #0c0c0c;

  /* Estados */
  --error: #D64545;
  --success: #6BAA52;
  --warning: #E8B04C;

  /* Base */
  --background: #f5edd5;
  --foreground: #1A1A1A;
  --radius: 0.75rem;
}

.dark {
  --primary-light: #8B3923;
  --primary-medium: #C76A4A;
  --primary-dark: #F4C8B3;

  --secondary-light: #4E5F31;
  --secondary-medium: #8BA864;
  --secondary-dark: #E6F1D5;

  --error: #E85555;
  --success: #7BC261;
  --warning: #F0C05C;

  --background: #1A1A1A;
  --foreground: #F5F5F5;
}

@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";

  /* Colores primarios - para clases como bg-primary-medium */
  --color-primary-light: var(--primary-light);
  --color-primary-medium: var(--primary-medium);
  --color-primary-dark: var(--primary-dark);

  /* Colores secundarios - para clases como bg-secondary-medium */
  --color-secondary-light: var(--secondary-light);
  --color-secondary-medium: var(--secondary-medium);
  --color-secondary-dark: var(--secondary-dark);

  /* Estados */
  --color-error: var(--error);
  --color-success: var(--success);
  --color-warning: var(--warning);

  /* Base */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply outline-foreground/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}